* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }

  /* css reset */

  body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    background-color: #f2f2f2;
  }

   .Title {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
   }

   .Date-Pick {
    box-sizing: border-box;
    width: 9rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    display: inline;
    padding-left: 1rem;
   }

   .Date-Pick label {
     padding-left: 1rem;
   }


   .image-div {
    width: 40%;
    margin: auto;
    height: 40%;
   }

   #image_of_the_day {
    width: 100%;
   }

   .video-div {
    width: 80%;
    margin: auto;
   }

   #videoLink {
    width: 100%;
    height: 70vh
   }

   .Explanation {
    padding-top: 2rem;
    line-height:1.5;
    padding: 1rem;
   }